<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.authority.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.authority.entity.Staff">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="birth" property="birth" />
        <result column="phone" property="phone" />
        <result column="department" property="department" />
        <result column="post" property="post" />
        <result column="photo" property="photo" />
        <result column="resume" property="resume" />
    </resultMap>

</mapper>
